<launch>

<!--Zed Camera Launch-->
<!--include file="$(find zed_wrapper)/launch/zed_tf.launch" /-->

<arg name="svo_file" default="/media/nvidia/minhtri_hdd/ROSBAGS/VGA_SN3442_14-58-45.svo"/>
  
<group ns="zed">
    <node name="zed_wrapper_node" pkg="zed_wrapper" type="zed_wrapper_node" output="screen">

      <param name="resolution"            value="3" />
      <param name="quality"               value="2" />
      <param name="sensing_mode"          value="0" />
      <param name="frame_rate"            value="30" />
      <param name="odometry_DB"           value="" />
      <param name="openni_depth_mode"     value="0" />

      <!-- SVO file path -->
      <param name="svo_filepath"          value="$(arg svo_file)" />

      <param name="rgb_topic"             value="rgb/image_rect_color" />
      <param name="rgb_cam_info_topic"    value="rgb/camera_info" />
      <param name="rgb_frame_id"          value="/base_frame" />

      <param name="left_topic"            value="left/image_rect_color" />
      <param name="left_cam_info_topic"   value="left/camera_info" />
      <param name="left_frame_id"         value="/base_frame" />

      <param name="right_topic"           value="right/image_rect_color" />
      <param name="right_cam_info_topic"  value="right/camera_info" />
      <param name="right_frame_id"        value="/base_frame" />

      <param name="depth_topic"           value="depth/image_rect_color" />
      <param name="depth_cam_info_topic"  value="depth/camera_info" />
      <param name="depth_frame_id"        value="/base_frame" />

      <param name="point_cloud_topic"     value="point_cloud/cloud" />
      <param name="cloud_frame_id"        value="/base_frame" />

      <param name="odometry_topic"                value="odom" />
      <param name="odometry_frame_id"             value="/zed_initial_frame" />
      <param name="odometry_transform_frame_id"   value="/base_frame" />


</node>

<!-- Depth_image to Laser_Scan -->
<node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
        <param name="scan_height" value="50"/>
        <param name="output_frame_id" value="/base_frame"/>
        <param name="range_min" value="0.3"/>
        <param name="range_max" value="2"/>
        <remap from="image" to="/zed/depth/image_rect_color"/>
	<remap from="scan" to ="/scan"/>
 </node>
 
</group>

<!-- Laser Scan Match -->
<node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node" output="screen">

    <param name="fixed_frame" value = "odom"/>
    <param name="base_frame" value="base_frame"/>
    <param name="use_alpha_beta" value="false"/>
    <param name="use_odom" value="false"/>
    <param name="use_imu" value="false"/>
    <param name="max_iterations" value="10"/>
    <param name="publish_pose" value="true"/>
    <param name="publish_tf" value="true"/>
    <param name="use_vel" value="false"/>
	
 </node>


<!-- TF frame relationship -->

<node pkg="tf" type="static_transform_publisher" name="base_to_laser"
  args="0 0 0 0 0 0 1 base_frame zed_initial_frame 100" />

<node pkg="tf" type="static_transform_publisher" name="base_to_camera"
  args="0 0 0 0 0 0 1 base_frame camera_frame 100" />

<node pkg="tf" type="static_transform_publisher" name="map_to_base"
  args="0 0 0 0 0 0 1 map base_frame 100" />

<!-- Gmapping -->

 <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="map_udpate_interval" value="5.0"/>
    <param name="delta" value="0.02"/>
    <param name="base_frame" value="base_frame"/>
 </node> 


<!--RVIZ launch -->
<node pkg="rviz" type="rviz" name="rviz" />

</launch>
